<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnnd.dao.CertificateMapper">
  <resultMap id="BaseResultMap" type="com.hnnd.entity.Certificate">
    <id column="certificate_id" jdbcType="VARCHAR" property="certificate_id" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="certificate_type" jdbcType="INTEGER" property="certificate_type" />
    <result column="certificate_level" jdbcType="INTEGER" property="certificate_level" />
    <result column="certificate_desc" jdbcType="VARCHAR" property="certificate_desc" />
  </resultMap>
  <sql id="Base_Column_List">
    certificate_id, user_id, certificate_type, certificate_level, certificate_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from certificate
    where certificate_id = #{certificate_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from certificate
    where certificate_id = #{certificate_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hnnd.entity.Certificate">
    insert into certificate (certificate_id, user_id, certificate_type, 
      certificate_level, certificate_desc)
    values (#{certificate_id,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, #{certificate_type,jdbcType=INTEGER}, 
      #{certificate_level,jdbcType=INTEGER}, #{certificate_desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnnd.entity.Certificate">
    insert into certificate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="certificate_id != null">
        certificate_id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="certificate_type != null">
        certificate_type,
      </if>
      <if test="certificate_level != null">
        certificate_level,
      </if>
      <if test="certificate_desc != null">
        certificate_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="certificate_id != null">
        #{certificate_id,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="certificate_type != null">
        #{certificate_type,jdbcType=INTEGER},
      </if>
      <if test="certificate_level != null">
        #{certificate_level,jdbcType=INTEGER},
      </if>
      <if test="certificate_desc != null">
        #{certificate_desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnnd.entity.Certificate">
    update certificate
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="certificate_type != null">
        certificate_type = #{certificate_type,jdbcType=INTEGER},
      </if>
      <if test="certificate_level != null">
        certificate_level = #{certificate_level,jdbcType=INTEGER},
      </if>
      <if test="certificate_desc != null">
        certificate_desc = #{certificate_desc,jdbcType=VARCHAR},
      </if>
    </set>
    where certificate_id = #{certificate_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnnd.entity.Certificate">
    update certificate
    set user_id = #{user_id,jdbcType=VARCHAR},
      certificate_type = #{certificate_type,jdbcType=INTEGER},
      certificate_level = #{certificate_level,jdbcType=INTEGER},
      certificate_desc = #{certificate_desc,jdbcType=VARCHAR}
    where certificate_id = #{certificate_id,jdbcType=VARCHAR}
  </update>
</mapper>